#loader {
    width: 480px;
    height: 350px;
    display: none;
    position: fixed;
    _position: absolute; /* IE6対策 */
    top: 50%;
    left: 50%;
    margin-top: -175px; /* heightの半分のマイナス値 */
    margin-left: -240px; /* widthの半分のマイナス値 */
    z-index: 100;
}

#fade {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
}
